nav {
  display: flex;
  justify-content: flex-end;
}

button{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  &:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 15px 5px rgba(0, 1, 2, 0.7);
  }
}
nav ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 1rem;
}

.CreateProject {
  display: flex;
  align-items: center;
  
  #projectImage {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: scale(1.1); 
      box-shadow: 0 0 15px 5px rgba(0, 1, 2, 0.7);
    }
  }
}

.ViewProjectHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 2rem;
  margin-right: 4rem;
}

.ShowAllProjects {
  height: 2rem;
}

.Projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Projects li {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.Projects li img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-right: 20px;
}

.Projects li article {
  display: flex;
  flex-direction: row;
}

.Projects li h3 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  color: #333;
}

.Projects li p {
  margin: 0;
  color: #555;
}