:root {
  --hover-transform: scale(1.1);
  --hover-box-shadow: 0 0 10px 2px rgba(0, 1, 2, 0.5);
  --border-color: #219EBC;
  --bg-color: #8ECAE6;
  --primary-text-color: #023047;
  --secondary-text-color: #FB8500;
  --button-bg-color: #FFB703;
  --button-hover-bg-color: #FB8500;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  padding: 1rem 0;
  color: var(--primary-text-color);
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--bg-color);
  padding: 1rem;
}

button {
  background-color: var(--button-bg-color);
  color: var(--primary-text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg-color);
  transform: var(--hover-transform);
  box-shadow: var(--hover-box-shadow);
}

button:focus {
  outline: 2px solid #219EBC;
  transform: scale(1.05);
  box-shadow: 0 0 15px 5px rgba(0, 1, 2, 0.7);
}

.CreateProject {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--bg-color);
  border-radius: 10px;
  width: 20%;
  margin: 0 auto;
}

#projectImage {
  width: 250px;
  height: 250px;
  border: 2px solid var(--border-color);
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#projectImage:hover {
  transform: scale(1.1); 
  box-shadow: var(--hover-box-shadow);
}

.CreateProject form {
  display: flex;
  flex-direction: column;
}

.ViewProjectHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 2rem;
  margin-right: 4rem;
}

.Projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#Projects li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  gap: 1rem;
}

#Projects li #projectImage {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.ProjectDescription {
  margin: 0;
}

#Projects li h3 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  color: var(--primary-text-color);
}

#Projects li p {
  margin: 0;
  color: var(--secondary-text-color);
}

.deleteProject {
  justify-self: end;
  height: 3rem;
  padding: 0.5rem 2rem;
  margin-right: 2rem;
  border: none;
  background-color: var(--button-bg-color);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.deleteProject:hover {
  transform: var(--hover-transform);
  box-shadow: var(--hover-box-shadow);
  background-color: var(--button-hover-bg-color);
}

input[type="submit"] {
  background-color: var(--button-bg-color);
  color: var(--primary-text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(--button-hover-bg-color);
  transform: var(--hover-transform);
  box-shadow: var(--hover-box-shadow);
}

input[type="submit"]:focus {
  outline: 2px solid #219EBC;
  transform: scale(1.05);
  box-shadow: 0 0 15px 5px rgba(0, 1, 2, 0.7);
}
